<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title || "Nathan Hulsey's Portfolio" %></title>
    
    <link rel="stylesheet" href="stylesheets/app.css">

<!--     <%= stylesheet_link_tag "app", "style" %>
 -->    <%= javascript_include_tag "modernizr" %>

  <!-- Included CSS Files, use foundation.css if you do not want minified code -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">


      <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
